<html>
    <head>
        <title>Flask Api</title>
    </head>
    <body>
        {% for student in students %}
        <h1> aa  name: {{ student.name }}, family: {{ student.family }} </h1>
        {% endfor %}
        <h3> This Is work For / Directory </h3>
    </body>
</html>
